<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<dataConfiguration defaultDatabase="MonitorSys" />
	<connectionStrings>
		<add name="MonitorSys" connectionString="server=.;database=WPFMonitor;uid=sa;pwd=sa" providerName="System.Data.SqlClient" />
		
	</connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
	<appSettings>
		
		<add key="WindowNo" value="1"/>
		<add key="HotKey" value="Ctrl+B"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
